:root {
  --primary-text-color: #2E2F42;
  --title-text-color: #434455;
  --button-text-color: #4D5AE5;
  --button-hover-color: #404bbf;
  --hero-text-color: #fff;
  --border-button-color: #e7e9fc;
  --border-background-color: #f4f4fd;
  --button-success-color: #31D0AA;
  --card-set-gap: 24px;
  --card-customers-border: #8e8f99;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Палітра кольорів для роботи */
/* #2E2F42 */
/* Цвет лого WEB #4D5AE5 */
/* Цвет лого STUDIO #2E2F42 */
/* Цвет основного текста и шапки 2E2F42# */
/* Вторичный цвет фона #F4F4FD */
/* #434455 вторичный цвет */
/* Цвет лого футера #4D5AE5 */
/* #F4F4FD цвет футера */
body {
  background-color: var(--hero-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}

/* убираем точки, и подчёркивания с сылок */
ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Утилиты */
html {
  overflow-y: scroll;
}

.section {
  padding: 120px 0;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--button-text-color);
}

/* Logo */
.logo-web,
.logo-studiohead,
.logo-studio {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
}

.logo-web {
  color: var(--button-text-color);
}

.logo-studiohead {
  color: var(--primary-text-color);
}

.logo-studio {
  color: var(--primary-text-color);
}

.logo-studiofooter {
  color: var(--hero-text-color);
}

/* Site-nav auth-nav */
.site-nav .link {
  position: relative;
  display: block;

  padding: 24px 0;


  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.site-nav .link::after {
  content: '';

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--button-hover-color);
  border-radius: 2px;

  position: absolute;

  left: 0;
  bottom: 0;

  opacity: 0;

  transition: opacity 250ms var(--timing-function)
}

/* Подчеркивание на страницу на которой находишся */

.site-nav .current {
  color: var(--button-hover-color)
}

.site-nav .link:hover::after,
.site-nav .link:focus::after,
.site-nav .current::after {
  opacity: 1;
  color: var(--button-hover-color);
}

.site-nav .link {
  transition: color 250ms var(--timing-function);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--button-text-color);



}

.site-nav {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.auth-nav {
  display: flex;
  gap: 40px;

  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--button-text-color);
}

.auth-nav a {
  transition: color 250ms var(--timing-function);
}



/* contact */
.contacts a {
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}

/* Header */
.header {
  border-bottom: 1px solid var(--border-button-color);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Герой */
.hero {
  max-width: 1440px;
  margin: 0 auto;

  background-color: var(--primary-text-color);

  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url("../images/people-office 1.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
  padding: 188px 0;
}

/* Menu */
.navigation {
  display: flex;
  align-items: center;
}

.hero-title {
  color: var(--hero-text-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  max-width: 496px;
  margin: 0 auto 48px;
}

/* Button hero - button subscribe */
.button-hero {
  padding: 16px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--button-text-color);
  color: var(--hero-text-color);
  cursor: pointer;
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--button-hover-color);
  border-color: var(--button-text-color);
}

/* subscribe-button,subscribe-text */
.subscribe-text {
  margin-bottom: 16px;
  color: var(--hero-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}


.subscribe-button {
  padding: 8px 24px;
  border: 1px solid var(--button-text-color);
  border-radius: 4px;

  background-color: var(--button-text-color);
  color: var(--hero-text-color);

  cursor: pointer;

  transition:
    background-color 250ms var(--timing-function),
    border 250ms var(--timing-function)
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--button-hover-color);
  border-color: var(--button-text-color);


}

/* form-footer */

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  padding: 12px 16px;
  padding-left: 16px;
  width: 264px;
  height: 40px;
  border: 1px solid var(--hero-text-color);
  border-radius: 4px;
  background-color: transparent;

  color: var(--hero-text-color);

  outline: none;
}

.subscribe-input::placeholder {
  color: var(--hero-text-color);
  font-size: 12px;
  line-height: 1.5;
}

.subscribe-button {
  min-width: 165px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  border: none;
  border-radius: 4px;

  background-color: var(--button-text-color);
  color: var(--hero-text-color);

  cursor: pointer;
}

.subscribe-icon {
  fill: currentColor;

}

.footer-form {
  display: flex;
  gap: 24px;
  margin-top: 40px;
}


.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 8px;
}

/* Future list */
.feature-list {
  display: flex;
  gap: var(--card-set-gap);
}

/* what are we doing */

.section-title-work {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;

  margin-bottom: 72px;
}

.work-list {
  display: flex;
  gap: var(--card-set-gap);
  justify-content: center;
}

.work-list img {
  display: block;
}

/* Наша команда */
.team {
  background-color: var(--border-background-color);
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: var(--card-set-gap);
  list-style: none;
  justify-content: center;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}


.team-item {
  background-color: var(--hero-text-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);

  transition: box-shadow 250ms var(--timing-function)
}

.team-item:hover {
  box-shadow:
    0px 4px 12px rgba(46, 47, 66, 0.12),
    0px 2px 4px rgba(46, 47, 66, 0.08);
}

.team-content {
  padding: 32px 16px;
}

.team-name {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}

.team-position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--title-text-color);
}

img {
  display: block;
}


/* футер */
.footer {
  background-color: var(--primary-text-color);
  padding: 100px 0;

}

.footer .logo-web {
  display: inline-block;
  color: var(--button-text-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  padding-bottom: 16px;
}


.footer-text {
  color: var(--hero-text-color);
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
}


/* Portfolio */

/* Hero */
.button:hover,
.button:focus {
  background-color: var(--button-text-color);
  color: var(--hero-text-color);
  border-color: var(--button-text-color);
}

/* Оформлення кнопок */
.nav-buttons {
  display: flex;
  justify-content: center;
  gap: var(--card-set-gap);
  margin-bottom: 72px;


}

.button {
  padding: 12px 24px;
  border: 1px solid var(--border-button-color);
  border-radius: 4px;

  background-color: var(--border-background-color);
  color: var(--button-text-color);

  cursor: pointer;

  transition:
    background-color 250ms var(--timing-function),
    border 250ms var(--timing-function)
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}



/* Карточки портфоліо */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-set-gap);
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

/* Контент карточки */
.portfolio-content {
  padding: 32px 16px;
  border: 1px solid var(--border-button-color);
  border-top: none;
}

/* actions-thumb */

.action-thumb {
  position: relative;
  overflow: hidden;
}

/* Overlay */

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding: 40px 32px;


  background-color: var(--button-text-color);
  color: var(--hero-text-color);

  transform: translateY(100%);

  transition: transform 250ms var(--timing-function)
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
}

.action-thumb img {
  display: block;
}

/* Назва карточки */
.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}

/* Текст карточки */
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
}

/* Тінь карточки */
.portfolio-link {
  display: block;
  transition:
    box-shadow 250ms var(--timing-function)
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link {
  display: block;
  color: inherit;
}

/* Customers */

.customers-section {
  padding: 120px 0;
}

.customers-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  list-style: none;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--card-customers-border);
  border-radius: 4px;

  color: var(--card-customers-border);

  transition:
    color 250ms var(--timing-function),
    border-color 250ms var(--timing-function)
}

.customers-social-icon {
  fill: currentColor;
}


.customers-link:hover,
.customers-link:focus {
  color: var(--button-hover-color);
  border-color: var(--button-hover-color);
}

/* SVG icons */

/* icons переваги */
.thumb {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 264px;
  height: 112px;

  background-color: var(--border-background-color);
  border-radius: 4px;
  margin-bottom: 8px;
}

.feature-icon {
  width: 64px;
  height: 64px;
}

/* Іконки-силки-інста-твіттер-фейсбук-лінкедін */

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 8px 0 0;
}

.team-social-item {
  list-style: none;
}

.team-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--button-text-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--button-hover-color);
}



.team-social-icon {
  fill: var(--border-background-color);
}


/* Footer-container */
.footer-container {
  display: flex;
  align-items: baseline;
}

/* Footer-social-links */

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  margin-right: 120px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-social-text {
  color: var(--hero-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
  margin-right: 80px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  margin-right: 80px;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--button-text-color);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--button-success-color);
}

.footer-social-icon {
  fill: var(--border-background-color);
}

/* modal vindow */

.backdrop {
  position: fixed;
  inset: 0;

  background: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function)
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  width: 408px;
  min-height: 584px;


  background-color: #fcfcfc;

  border-radius: 4px;

  box-shadow:
    0px 1px 1px rgba(0, 0, 0, .14),
    0px 1px 3px rgba(0, 0, 0, .12),
    0px 2px 1px rgba(0, 0, 0, .2);

  padding: 72px 24px 24px;
  transition: transform 250ms var(--timing-function)
}

/* close-button */
.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--border-button-color);

  cursor: pointer;
  padding: 0;

  transition:
    background-color 250ms var(--timing-function),
    border 250ms var(--timing-function)
}

/* close-btn hover */

.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border-color: transparent;
}

.close-btn:hover svg,
.close-btn:focus svg {
  fill: var(--border-background-color);
}


.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

}

.modal-field {
  margin-bottom: 8px;
}

/* Позиционирование иконки */
.input-wrapper {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding: 12px 16px;
  padding-left: 48px;

  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;

  outline: none;
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--button-text-color);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  pointer-events: none;
  fill: var(--title-text-color);
}

/* hover-fokus для иконок */

.modal-input:hover+.modal-icon,
.modal-input:focus+.modal-icon {
  fill: var(--button-text-color);
}



.modal-field-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  resize: none;

  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;

  outline: none;
}

.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--button-text-color);
}

.modal-input {
  transition: border-color 250ms var(--timing-function);
}

.modal-textarea {
  transition: border-color 250ms var(--timing-function);
}

.modal-checkbox {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  margin-bottom: 24px;
}

/* custom-checkbox */

.modal-checkbox-input {
  position: absolute;
  opacity: 0;
}

/* custom checkbox */
.modal-checkbox-custom {
  width: 16px;
  height: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 8px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  background-color: transparent;

  transition: border-color 250ms var(--timing-function);
  border-color: var(--timing-function);
}

.checkbox-icon {
  fill: var(--checkbox-icon-color);
  opacity: 0;
  transition: opacity 250ms var(--timing-function);
}


.modal-checkbox-input:checked+.modal-checkbox-custom {
  border-color: var(--button-text-color);
  background-color: var(--button-text-color);
  color: var(--hero-text-color);
}

.modal-checkbox-input:checked+.modal-checkbox-custom .checkbox-icon {
  opacity: 1;
}

.privacy-link {
  margin-left: 4px;
}

/* button submit */

.modal-submit-btn {
  display: block;

  min-width: 169px;
  height: 56px;
  gap: 10px;

  margin: 24px auto 0;

  border: none;
  border-radius: 4px;

  background-color: var(--button-text-color);
  color: var(--hero-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  cursor: pointer;

  transition:
    background-color 250ms var(--timing-function),
    border 250ms var(--timing-function)
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: var(--button-hover-color);
  border-color: var(--button-text-color);
}